{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="mt-5 text-5xl text-red-500">User profile:
				{% if is_granted('ROLE_USER') %}
					<p>Email:
						{{ app.user.email }}</p>
					<p>Password:
						{{ app.user.password }}</p>
					<p>Is verified:
						{{ app.user.isVerified }}</p>
				{% endif %}
			</h1>
			<div class="col-lg-6">
				<ul>
					{# <li>{{ app.user.username }}</li>
										<li>{{ app.user.email }}</li> #}
					<li>
						{% for role in app.user.roles %}
							{{ role }}
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
